<nav class="navbar navbar-fixed-top alt" data-spy="affix" data-offset-top="1000" ng-controller="NavController">
    <div class="container">
    <div class="navbar-header">
      <a href="#top" class="navbar-brand scroll-top" du-smooth-scroll duration="900">Home</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
      <li><a href="#input" du-smooth-scroll duration="900">Input</a></li>
      <li><a href="#analytics" du-smooth-scroll duration="900">Analytics</a></li>
      <li><a href="#results" du-smooth-scroll duration="900">Results</a></li>
      <li ng-if="settings"><a href="" data-toggle="modal" data-target="#myModal" ng-click="fetchsettings()">Settings</a></li>
      <li ng-click="logout()"><a>Log Out</a></li>
      
      </ul>
    </div>
     </div>
  </nav>

  <div class="header alt vert" id="top">
    <div class="container">
    
    <h1 class="heading">SAP</h1>
      <p class="lead">Integrated Programmable Model</p>
      <div>&nbsp;</div>
      <a href="#input" du-smooth-scroll duration="900" class="btn btn-default btn-lg">Get Started</a>
    </div>
  </div>

  <hr>

  <div id="input" class="blurb">
    <h2 class="text-center">Input</h2>
    <div class="container well well-lg">
      <div class="row" ng-controller="InputCtrl">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title text-center">Landscape<span class="resulttext">{{landscape}}</span></h4>
              </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <ul class="list-group">
                <li class="list-group-item listitem" ng-repeat="landscape in landscapes" ng-click="setLandscape(landscape)">{{landscape.name}}</li>
              </ul>
     
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h4 class="panel-title text-center">SAP Products</h4>
              </a>
      
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <ul class="list-group">
                <li class="list-group-item listitem" ng-repeat="product in products" ng-click="setProduct(product)">{{product.name}}</li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h4 class="panel-title text-center">Platform</h4>
              </a>
      
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <ul class="list-group">
                <li class="list-group-item listitem" ng-repeat="platform in platforms" ng-click="setPlatform(platform)">{{platform.name}}</li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h4 class="panel-title text-center">Components</h4>
              </a>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <ul class="list-group">
                <li class="list-group-item listitem" ng-repeat="component in components">
                  <div>
                    <div>{{component.name}}</div>
                    <div>
                      <up-vote min="component.min" max="component.max" value="component.scale"></up-vote>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <h4 class="panel-title text-center">Catalog</h4>
              </a>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" ng-init="catalog='Custom'">
              <ul class="list-group">
                <li class="list-group-item listitem" ng-repeat="item in cats" ng-click="setCatalog(item)">
                  {{item}}
                </li>
              </ul>
            </div>
          </div>
          



        </div>
        <div>
           
            <a href="#analytics" du-smooth-scroll duration="900" class="btn btn-primary pull-right linkcolor" ng-click="calculate()">Add</a>
          
        </div>
      </div>
    </div>
  </div>
  <hr>
  
  
  <div class="blurb" id="analytics" ng-controller="AnalyticsCtrl">
    <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      <h2>Analytics</h2>
      <table class="table table-condensed textalign">
            <thead>
              <tr>
                <th class="hidden-xs">Landscape</th>
                <th>SAP Product</th>
                <th class="hidden-xs">Platform</th>
                <th>Component</th>
                
                <th class="hidden-xs">vCPU</th>
                <th class="hidden-xs">vRAM</th>
                <th class="hidden-xs hidden-sm">Net IO</th>
                <th class="hidden-xs hidden-sm">IOPS</th>
                <th class="hidden-xs hidden-sm">vDisk</th>
              <th>Catalog</th>
              <th>Customize</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="data in analyticsdata">
                <td class="hidden-xs"><div>{{data[0].landscape}}</div></td>
                <td><div>{{data[0].product}}</div></td>
                <td class="hidden-xs"><div>{{data[0].platform}}</div></td>
                <td><div ng-repeat="d in data">{{d.server}}</div></td>
              <td class="hidden-xs"><div ng-repeat="d in data">{{d.vcpu}}</div></td>
              <td class="hidden-xs"><div ng-repeat="d in data">{{d.vram}}</div></td>
              <td class="hidden-xs hidden-sm"><div ng-repeat="d in data">{{d.netio}}</div></td>
              <td class="hidden-xs hidden-sm"><div ng-repeat="d in data">{{d.iops}}</div></td>
              <td class="hidden-xs hidden-sm"><div ng-repeat="d in data">{{d.vdisk}}</div></td>
              <td ><div ng-repeat="d in data">{{d.catalog}}</div></td>
              <td>
                <div ng-repeat="cat in data">
                  <span ng-init="cat.type='Virtual'"></span >
                  <select ng-model="cat.type" ng-options="item for item in options">
                  </select>
                </div>
              </td>
            </tr>
            </tbody>
        </table>
      <div>
        <a href="#input" ng-click="add()" du-smooth-scroll duration="900" class="btn btn-primary"><strong>+</strong> Add Row</a>
        <a href="#results" ng-click="result()" du-smooth-scroll duration="900" class="btn btn-primary pull-right">Results</a>
      </div>
      </div>
    </div>
    </div>
  </div>

  <hr>

  <div class="blurb bright" ng-controller="ResultsCtrl">
    <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
      <h3 id="results">Results</h3>
      <table class="table table-condensed">
        <tr>
          <td>Total No of Physical Servers for Virtualization</td>
          <td>{{results.total_physical_server_for_virtualization}}</td>
        </tr>
        <tr>
          <td>
            Include Failover Capacity
          </td>
          <td>{{results.include_failover_capacity}}
          </td>
        </tr>
        <tr>
          <td>
            No of Physical Servers Opted
          </td>
          <td>{{results.no_physical_servers_opted}}
          </td>
        </tr>
        <tr>
          <td>
            Total Physical Servers
          </td>
          <td>{{results.total_physical_servers}}
          </td>
        </tr>
      </table>
      </div>
      <div class="col-md-6 col-md-offset-3 text-center">
        <button class="btn btn-primary" ng-click="print()">Save Result as PDF</button>
        <a href="#input" ng-click="reset()" class="btn btn-primary" du-smooth-scroll duration="900">Reset</a>
      </div>
      
    </div>
      
    
    
    </div>
  </div>
  

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Settings</h4>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-lg-6 col-md-6" ng-controller="DesignCtrl">
              <div ng-init="newentry.landscape=''; newentry.pcore=0 ;newentry.pram=0; newentry.pnic=0;">
                  <h4>Design Rationale <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{selection}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="" ng-click="fetch(landscape.name)" ng-repeat="landscape in landscapes">{{landscape.name}}</a></li>
                      <li class="divider"></li>
                      <li><a href="" ng-click="entry()"><strong>+</strong> New</a></li>
                    </ul>
                  </div></h4>
                  
              </div>
              <form class="form-horizontal" role="form" ng-if="!new_landscape">
                
                <div class="form-group">
                  <label for="pCoreValue" class="col-lg-3">1 pCore</label>
                        <div class="col-lg-4">
                    <input type="number" ng-model="design.pcore" class="form-control" id="pCoreValue">
                        </div>
                        <div class="col-lg-5">vCPU in Qty</div>
                </div>
                <div class="form-group">
                  <label for="pRAMValue" class="col-lg-3">1 pRAM</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="design.pram" class="form-control" id="pRAMValue">
                  </div>
                  <div class="col-lg-5">vRAM in GB</div>
                </div>
                <div class="form-group">
                  <label for="pNICValue" class="col-lg-3">1 pNIC</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="design.pnic" class="form-control" id="pNICValue">
                  </div>
                  <div class="col-lg-5">vCPU in Qty</div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
                <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
              </form>
              <form class="form-horizontal" role="form" ng-if="new_landscape">
                <div class="form-group">
                  <label for="Name" class="col-lg-3">Name</label>
                        <div class="col-lg-8">
                    <input type="text" ng-model="newentry.landscape" class="form-control" id="Name" placeholder="Landscape Name" required> 
                        </div>
                        
                </div>
                <div class="form-group">
                  <label for="pCoreValue" class="col-lg-3">1 pCore</label>
                        <div class="col-lg-4">
                    <input type="number" ng-model="newentry.pcore" class="form-control" id="pCoreValue">
                        </div>
                        <div class="col-lg-5">vCPU in Qty</div>
                </div>
                <div class="form-group">
                  <label for="pRAMValue" class="col-lg-3">1 pRAM</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="newentry.pram" class="form-control" id="pRAMValue">
                  </div>
                  <div class="col-lg-5">vRAM in GB</div>
                </div>
                <div class="form-group">
                  <label for="pNICValue" class="col-lg-3">1 pNIC</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="newentry.pnic" class="form-control" id="pNICValue">
                  </div>
                  <div class="col-lg-5">vCPU in Qty</div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="savenew()">Save</button>
                
              </form>
            </div>
            <div class="col-lg-6 col-md-6" ng-controller="BladeCtrl">
              <div><h4>Parameters per Blade</h4></div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="totalpcores" class="col-lg-5">Total pCore</label>
                        <div class="col-lg-4">
                    <input type="number" ng-model="parameters.pcore" class="form-control" id="totalpcores">
                        </div>
                        
                </div>
                <div class="form-group">
                  <label for="totalpmemory" class="col-lg-5">pMemory in GB</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="parameters.pram" class="form-control" id="totalpmemory">
                  </div>
                  
                </div>
                <div class="form-group">
                  <label for="totalpnic" class="col-lg-5">pNIC in Gbits</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="parameters.pnic" class="form-control" id="totalpnic">
                  </div>
                  
                </div>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
              </form>
            </div>
          </div>
        <hr>
          <div class="row">
            <div class="col-lg-6 col-md-6" ng-controller="ResourceCtrl">
              <div><h4>Resource Weightage %</h4></div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="rcpu" class="col-lg-5">CPU</label>
                        <div class="col-lg-4">
                    <input type="number" ng-model="resource.cpu" min="0.0" max="100.0" class="form-control" id="rcpu">
                        </div>
                        
                </div>
                <div class="form-group">
                  <label for="rmemory" class="col-lg-5">Memory</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="resource.ram" min="0.0" max="100.0" class="form-control" id="rmemory">
                  </div>
                  
                </div>
                <div class="form-group">
                  <label for="rnic" class="col-lg-5">NIC</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="resource.nic" min="0.0" max="100.0" class="form-control" id="rnic">
                  </div>
                  
                </div>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
              </form>
            </div>
            <div class="col-lg-6 col-md-6" ng-controller="AssumptionsTargetCtrl">
              <div><h4>Assumptions at Target</h4></div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="cpuutil" class="col-lg-5">VH CPU Utilization (%)</label>
                        <div class="col-lg-4">
                    <input type="number" ng-model="percentage" class="form-control" id="cpuutil">
                        </div>
                        
                </div>
               
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
              </form>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6 col-md-6" ng-controller="ApptodbCtrl">
              <div><h4>Application to Database Ratio</h4></div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="app" class="col-lg-5">Application</label>
                        <div class="col-lg-4">
                    <input type="number" ng-model="application" min="0.0" max="1.0" class="form-control" id="app">
                        </div>
                        
                </div>
                <div class="form-group">
                  <label for="db" class="col-lg-5">Database</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="database" min="0.0" max="1.0" class="form-control" id="db">
                  </div>
                  
                </div>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
              </form>
            </div>
            <div class="col-lg-6 col-md-6" ng-controller="ReqCtrl">
              <div><h4>VMware HA Server Requirement</h4></div>
              <form class="form-horizontal" role="form">
                <div class="form-group">
                  <label for="protect" class="col-lg-5">Protected</label>
                        <div class="col-lg-4">
                    <input type="number" ng-model="require.protected" class="form-control" id="protect">
                        </div>
                        
                </div>
                <div class="form-group">
                  <label for="failover" class="col-lg-5">Failover Oty</label>
                  <div class="col-lg-4">
                    <input type="number" ng-model="require.failover" class="form-control" id="failover">
                  </div>
                  
                </div>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
              </form>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div><h4>Update tables</h4></div>
              <form class="form-horizontal" role="form">
                <div class="form-group" ng-controller="QsizerCtrl">
                  <div class="col-lg-6"><label>QuickSizer</label>
                    <input type="file" accept=".csv" ng-file-select ng-model="files">
                  </div>
                  <div class="col-lg-6">
                    <button type="button" class="btn btn-primary" ng-click="fetch()">Download CSV</button>
                    <button type="button" class="btn btn-primary" ng-click="send()">Upload CSV</button>
                    
                  </div>
                </div>
                <div class="form-group" ng-controller="ServerListCtrl">
                  <div class="col-lg-6">
                    <label>ServerList</label>
                    <input type="file" accept=".csv" ng-file-select ng-model="files">
                  </div>
                  <div class="col-lg-6">
                    <button type="button" class="btn btn-primary" ng-click="fetch()">Download CSV</button>
                    <button type="button" class="btn btn-primary" ng-click="send()">Upload CSV</button>
                  </div>
                </div>
                <div class="form-group" ng-controller="InfraCatCtrl">
                  <div class="col-lg-6">
                    <label>Infranstructure Catalog</label>
                    <input type="file" accept=".csv" ng-file-select ng-model="files">
                    
                  </div>
                  <div class="col-lg-6">
                    <button type="button" class="btn btn-primary" ng-click="fetch()">Download CSV</button>
                    <button type="button" class="btn btn-primary" ng-click="send()">Upload CSV</button>
                  </div>
                </div>
                
              </form>
            </div>
            <div class="col-lg-6 col-md-6" ng-controller="UserRightsController">
              <div><h4>User Access</h4></div>
              <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{selection}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li ng-repeat="user in users" ng-click="fetchUser(user)"><a href="">{{user}}</a></li>
                    </ul>
              </div>
            <hr>
            <div ng-if="userinfo">
              <div class="col-lg-6 col-md-6">
                <div><label>Username :</label> {{userinfo.username}}</div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div><label>Role :</label> {{userinfo.role}}</div>
              </div>
              <div class="col-lg-6 col-md-6">
                <button type="button" class="btn btn-success">Make Admin</button>
              </div>
              <div class="col-lg-6 col-md-6">
                <button type="button" class="btn btn-warning">Disable User</button>
              </div>
             
            </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
 